@charset "UTF-8";
/* CSS Document */

html, body {height:100%; width:100%; }

body {background:#FFFFFF; padding:0; margin:0;font-family: 'Roboto', sans-serif; font-size:19px; font-weight:300}

#great-wrap {position:relative; z-index:4000; right:0}

#main-wrap {position:relative; z-index:4000; width:100%; overflow:hidden}

header { width:100%; height:80px; float:left; position:absolute; z-index:5000; top:0; transition:top .5s ease; z-index:500}

header.headhide {top:-60px; transition:top .5s ease  }

header#fix {position:fixed; transition:top ease .3s; background:#000; height:50px; top:-50px; z-index:3000 }

header#fix.headfix {top:0; transition:top ease .5s;}

.no-touch header#fix.headfix {-webkit-backface-visibility: hidden; -webkit-transform: translateZ(0);}

header#fix .logobox {height:50px; margin-top:10px} header#fix img {width:60px;  } 
header#fix nav .main-nav li {margin-top:13px;} header#fix nav .main-nav li a {line-height:25px;}

.header-in {max-width:940px; padding:0 10px;  margin:0 auto; height:inherit;}

.logobox {float:left; width:auto; height:45px; margin-top:13px;}

nav {float:right; width:auto;}

nav a.pull { display: none;}

#mobile-nav {display:none;}

.main-nav {margin:0; padding:0;}

.main-nav span { display:none;}

.main-nav li {float:left; list-style:none; margin:0 18px; margin-top:17px;}

.main-nav li:last-child {margin-right:0;}

.main-nav li a {color:#fff; text-decoration:none; line-height:33px; padding:0 3px; display:block; font-weight:300; font-size:0.789em; }

.main-nav li.active a {border-bottom:3px solid #00b3f0}

.main-nav li a:hover {border-bottom:3px solid #00b3f0}

#mob-nav {position:fixed; right:-40%; width:40%; margin:0; padding:0; background:#181818; height:100%}

#mob-nav li {border-bottom:1px solid #302f2f; position:relative}
#mob-nav li a {color:#fff; font-size:1.1em; font-family:'Open Sans'; font-weight:800; text-transform:uppercase; text-decoration:none; line-height:3.8em; padding:0 1em; display:block; position:relative; }

.mob-nav-arrow {display:block; position:absolute; right:.8em; height:3.6em; width:20px; background-position:-25px -132px; top:0}
#bt-lang { border: 1px solid #FFFFFF; border-radius: 3px; font-size: 0.65em; height: 25px; line-height: 25px; position: relative; float:right; margin-left:27px; margin-right:27px; text-align: center; top: 22px; width: 32px; z-index: 5000;}
#bt-lang:hover {border-color:#00B3F0}
#bt-lang a {color:#fff; display:block}
#bt-lang:hover a {color:#00B3F0; }
/* SLIDE */

#slideshow {width:100%; float:left; background:#000; height:800px; position:relative; z-index:400 }

#shadow-slide {background:url(../images/shadow-slide.png) center top repeat-x; width:100%; position:absolute; top:0; z-index:400; height:186px; pointer-events:none}

#slideshow .caroufredsel_wrapper {height:inherit !important; width:100% !important; z-index:201 !important}

#main-slider {width:100% !important; padding:0; margin:0; height:100% !important; left:0 !important; position:relative; }

#main-slider li {height:inherit; width:100%; background-repeat:no-repeat; cursor:pointer;  }

#main-slider li a {display: block;  height: 100%;  width: 100%; text-decoration:none; cursor:pointer}

#main-slider li h1, .bg-header h1 {font-family: 'Open Sans', sans-serif; font-weight:800; color:#FFF; position:relative; top:50%; text-align:center; text-transform:uppercase; text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4); margin:0; font-size:1.895em; letter-spacing:2px; padding:0 7%; }



#main-slider li h1 span, .bg-header h1 span { display: block; margin: 0 auto; max-width: 750px; }

#slide-controls-wrap:hover #prev {left:0; display:block; opacity:1; transition-property:left, opacity, display; transition-duration:.5s}

#slide-controls-wrap:hover #next {right:0; display:block; opacity:1; transition-property:right, opacity, display; transition-duration:.5s}

#slide-controls { width:100%;position:absolute; height:inherit;}

#slide-controls-wrap {max-width:1024px; position:relative; margin:0 auto; height:40%; top:36%;}
.no-touch #slide-controls-wrap {z-index:2990}
#slide-controls-wrap a {width:100%; height:100%; display:block; position:absolute; top:0}

#prev {width:31px; height:50px; display:none; position:absolute; top:37%; left:-1%; z-index:2000; background-position:-25px 3px; cursor:pointer; opacity:0; transition-property:left, opacity, display; transition-duration:.5s}

#prev:hover {background-position:-25px -309px; opacity:1}

#next {width:31px; height:50px; display:none; position:absolute; top:37%; right:-1%; z-index:2000; background-position:-20px -144px; cursor:pointer; opacity:0; transition-property:right, opacity, display; transition-duration:.5s}

#next:hover {background-position:-20px -456px; opacity:1}

#preloadimg1 {position:absolute; width:100%; text-align:center; top:0; z-index:-10; display:none}

#pageloader {height:4px; background:#00B3F0; position:absolute; bottom:0; width:0%; z-index:4001}

#fader {width:100%; height:100%; display:block; position:absolute; background:#000; z-index:4000; top:0;}

#slide01 {background-image:url(../images/01.jpg); background-position:center; background-size:cover; background-color:#000; }
#slide02 {background-image:url(../images/02.jpg); background-position:center; background-size:cover; }

#slide03 {background-image:url(../images/03.jpg); background-position:center; background-size:cover }

#slide04 {background-image:url(../images/04.jpg); background-position:center; background-size:cover; }

.bt-down {display: block; height: 63px; margin: 0 auto; position: relative; top: 85%; width: 63px; background-position:-6px -3885px; z-index:2000; cursor:pointer}

	.bt-down .circle-down {  width:63px; height:63px; display:block; background-position:-6px -3716px; position:absolute; animation:tilt ease 2.5s infinite; -webkit-animation:tilt ease 2.5s infinite; transition:all ease .5s; opacity:1}

@keyframes tilt {0%   {opacity:1;} 50%  {opacity:.4;} 100%  {opacity:1;}}

@-webkit-keyframes tilt {0%   {opacity:1;} 50%  {opacity:.5;} 100%  {opacity:1;}}

/* INFO BAR */

#info-bar {height:100px; width:100%; float:left; color:#FFF; font-size:0.789em; background:#000}
.interior #info-bar {height:64px; width:}
.interior #tel, .interior #mail {line-height:64px;}
.interior .col3-wrapper .bt-comienza{ margin-top:14px}
.interior .col3-wrapper .bt-comienza a {color:#fff; text-decoration:none}
.interior #icon-mail {background-position: -19px -750px;}
.interior #icon-tel {background-position: -19px -588px;}

#info-bar a {color:#fff; height:inherit}

#info-bar-in {max-width:940px; margin:0 auto; width:auto; height:inherit; padding:0 10px;}

#info-tel {width:232px; height:inherit; float:left;}

#info-tel span {float:left;}

#info-tel a {color:#FFF; text-decoration:none}

#icon-tel {width:52px; height:inherit; background-position:-19px -570px; display:block;}

#tel {line-height:100px;}

#info-mail {width:215px; height:inherit; float:left;}

#info-mail span {float:left;}

#icon-mail {width:52px; height:inherit; background-position:-19px -731px; display:block;}

#mail {line-height:100px;}

#mail:after {content:"@xplaye.com"}

.bt-comienza {float:left; border:1px solid #00b3f0; line-height:34px; border-radius:3px; padding:0 12px; margin-top:30px; cursor:pointer;}

.bt-comienza:hover {background:#00b3f0;}

#go-down {width:37px; height:inherit; display:block; background-position:-19px -897px; float:right; cursor:pointer; position:relative;}

#go-down:hover {background-position:-19px -3347px;}

#go-down span {background-position:-25px -3065px; display:block; position:absolute; width:25px; height:25px; top:30px; left:6px; animation:godown 1.1s infinite; -webkit-animation:godown 1.1s infinite;}

#go-down:hover span {background-position:-25px -3219px; animation:none; -webkit-animation:none; }

@-webkit-keyframes godown {0%   {top:33px;} 50%  {top:36px;} 100%  {top:33px}}

@keyframes godown {0%   {top:33px;} 50%  {top:36px;} 100%  {top:33px}}


.col3-wrapper {width:33.33%; height:inherit; float:left;}

.col3-wrapper #info-tel, .col3-wrapper #info-mail, .col3-wrapper .bt-comienza {float:none; margin:0 auto}

.col3-wrapper #info-tel, .col3-wrapper #info-mail {width:auto; display:table;}

.col3-wrapper .bt-comienza{width:auto; float:none; margin:32px auto 0; display:table}

/* CONTENT */

.section {float:left; width:100%; text-align:center} .sectionwrap {margin:0 auto; max-width:940px; width:auto; padding:20px 10px 20px; display:inline-block;  position:relative; z-index:400  }
.sectionwrap100 {max-width:100%; width:100%; padding-left:0; padding-right:0}

.sectionwrap-in {width:100%; margin:0 auto; max-width:940px; display:inline-block}

.section-black {background:#151515}

.section-gray {background:#272727}

.section-green {background:#28a33f}

.section-white {background:#FFF}

.section-blue {background:#00b3f0}

#section1 {background:#FFF;  }

#section2 {background:#00b3f0; overflow:hidden;}



#title-section1, #text-section1, #img-section1, #title-section2, #text-section2 {position:relative;}

#logos-clientes-m {display:none;}

#logos-clientes-d img {width:100%}

/* FORM */

#form-box {background:#121212; display:none;position:relative; overflow:hidden}

#form-box .sectionwrap { width:100%; padding:0; max-width:960px; overflow:hidden}

#form-pad { padding:20px 10px 20px; position:relative}

#form-wrap {width:100%; padding-top:10px; position:relative}

.formblock {float:left; width:31.91%; margin-right:2.13%;}

.formblock .forminput {background:#262626; border:none; width:95%; color:#f1f1f1; font-size:0.8em; font-family:'Roboto'; padding:2.5%; border-radius:3px; margin-bottom:6%; font-weight:300}

#form-email {margin-right:0;}

#form-msg {width:100%; margin-right:0;}

#form-msg .forminput {width:98%; padding:1%; height:5em; margin-bottom:0}

#form-send {width:100%}

#form-send input { width:100%; max-width:300px; background:#00b3f0; color:#FFF; margin:2% 0 30px; border:none; font-family:'Roboto'; font-size:0.789em; padding:.4em 0; border-radius:3px; cursor:pointer; -webkit-appearance: none;}
::-webkit-input-placeholder { color:#FFF; opacity:1 !important}

#form-send input:hover {background:#007cf0}

.form-input {-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;}

.formblock .error-form {background-color:#c80505; -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear; z-index:5001; position:relative}
	
#form-load {height:7px; background:#00B3F0; position:absolute; bottom:0px; width:0%; z-index:3000}

#enviado {color: #FFFFFF; display: block; position: absolute; top: -520px; width: 100%;}

#enviado-icon {margin:0 auto; width:70px; height:100px; background-position:-3px -5926px}

/* PROYECTOS DESTACADOS */


#destacados-reel {position:relative; height:420px !important; margin:0; padding:0;}
.no-touch #destacados-reel {overflow-x:scroll !important; overflow-y:hidden; height:460px !important;}
.no-touch #destacados-reel-wrap {overflow:hidden; height:420px; margin-bottom:20px; position:relative }
.no-touch #destacados-reel li {left:auto !important; position:relative !important}
.no-touch #destacados-reel .slider {float:left; width:5760px}
.no-touch .inicio #dest-pagination {display:none;}
.no-touch #scroller-wrapper {overflow:hidden; height:440px; width:100%; }
.no-touch #slider-control-container {max-width:940px; padding: 0 10px; width: auto; margin:5px auto 10px; display:none  }
.no-touch #slider { width:80%; margin:0 auto; background:#0CF; height:12px; display:block; padding-right:20%; border-radius:15px;}
.no-touch .ui-slider-handle {width:25%; height:12px; background:#007cf0; display:block; left:0%; position:relative; cursor:pointer;border-radius:15px;}
.no-touch #scrollright {width:15%; position:absolute; right:0; height:100%; display:block; z-index:4000; top:20px}
.no-touch #scrollright2 {width:15%; position:absolute; right:0; height:100%; display:none; z-index:4001; top:20px}


.no-touch #scrollright-icon {width:70px; position:absolute; right:-70px; height:100%; display:block; z-index:3999; top:20px; background-image:url(../images/black-transparency.png);  }
.no-touch #scrollright-icon-right { background-position: -24px -240px; background-size: 120px auto; height: 80px; position: absolute; right: 0; top: 42%; width: 70px;}
.no-touch #scrollleft {width:15%; position:absolute; left:0; height:100%; display:block; z-index:4000}
.no-touch #scrollleft2 {width:15%; position:absolute; left:0; height:100%; display:block; z-index:4000; }
.no-touch #scrollleft-icon {width:70px; position:absolute; left:-70px; height:100%; display:block; z-index:3999; top:20px; background-image:url(../images/black-transparency.png);  }
.no-touch #scrollleft-icon-left { background-position: -29px -9px; background-size: 120px auto; height: 80px; position: absolute; left: 0; top: 42%; width: 70px;}

#destacados-reel-wrap { margin:0 auto 20px;}
#destacados-reel-mob-wrap {display:none;}
#destacados-reel li {height:420px; float:left; list-style:none; margin:0 10px; padding:0; max-width:940px; width:100%;  display:block;}
.destacados-box {position:relative; width:100%; float:left;  height:420px; cursor:auto  }
#destacados-1 {}
#section2 .caroufredsel_wrapper { bottom:0 !important; top:0 !important;}

.dest-box {float:left; margin-top:20px;}
.text-box {width:100%; float:left;}

#dest-1 {width:100%; height:230px; float:left; position:relative;}
#dest-2 {width:48.27%; height:150px; float:left; position:relative; margin-right:3.46%}
#dest-3 {width:48.27%; height:150px; float:left; position:relative; }
#dest-4 {width:100%; height:400px; float:left; position:relative;}
#dest-5 {width:48.27%; height:190px; float:left; position:relative;margin-right:3.46% }
#dest-6 {width:48.27%; height:190px; float:left; position:relative; }
#dest-7 {width:100%; height:190px; float:left; position:relative; }
#dest-8 {width:100%; height:400px; float:left; position:relative; }
#dest-9 {width:48.27%; height:150px; float:left; position:relative; margin-right:3.46% }
#dest-10 {width:48.27%; height:150px; float:left; position:relative; }
#dest-11 {width:100%; height:230px; float:left; position:relative; }
#dest-12 {width:100%; height:400px; float:left; position:relative; }

.dest-overlay-1 {background:url(../images/shadow-1.png) center bottom repeat-x; width:100%; height:inherit; position:absolute; top:0; left:0; z-index:100;}
.dest-overlay-2 {background:url(../images/shadow-2.png) center bottom repeat-x; width:100%; height:inherit; position:absolute; top:0; left:0; z-index:100;}
.dest-overlay-3 {background:url(../images/shadow-3.png) center bottom repeat-x; width:100%; height:inherit; position:absolute; top:0; left:0; z-index:100;}
.dest-overlay-4 {background:url(../images/shadow-4.png) center bottom repeat-x; width:100%; height:inherit; position:absolute; top:0; left:0; z-index:100;}

.dest-img > a { display: block; height: 100%;width: 100%; position:relative; z-index:300}

.dest-img { height: inherit; overflow: hidden; position: relative; width: 100%;}

.dest-img img { position: absolute; top: 0;left: 0;}

.dest-caption {position:absolute; bottom:13px; left:0; width:auto; z-index:100; width:90%; text-align:left; color:#fff; z-index:200; padding-left:15px;}

.dest-arrow {width:24px; height:24px; position:absolute; right:14px; bottom:15px; background-position:-26px -1085px; z-index:200; transition:all ease .5s;}

.dest-arrow a {display:block; width:inherit; height:inherit;}

.no-touch .dest-box:hover .dest-arrow {transition:all ease .5s; -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg);-o-transform: rotate(360deg);  -ms-transform: rotate(360deg); transform: rotate(360deg);}

#destacados-1 .dest-left {width:61.70%; float:left; position:relative;}
#destacados-2 .dest-left {width:65.96%; float:left; position:relative;}
#destacados-3 .dest-left {width:61.70%; float:left; position:relative;}

#destacados-1 .dest-right { margin-left:2.13%; float:left; width:36.17%}
#destacados-2 .dest-right {width:31.91%; float:left; margin-left:2.13%;}
#destacados-3 .dest-right {width:36.17%; float:left; margin-left:2.13%;}

.owl-pagination {display:block; width:100%; height:30px; text-align:center; margin:20px 0 0}

.owl-pagination span {width:16px; height:16px; background-position:-30px -2609px;  display:inline-block; margin:0 5px; background-image:url("../images/icons.svg"); background-repeat:no-repeat}

.owl-page {display:inline}

.owl-pagination .active span, .owl-pagination .owl-page:hover span {background-position:-30px -2759px;}

#dest-pagination {display:block; width:100%; height:30px; text-align:center; margin:20px 0 0}

#dest-pagination > div {width:16px; height:16px; background-position:-30px -2618px;  display:inline-block; margin:0 5px;} 

#dest-pagination >div:hover {background-position:-30px -2768px;}

#dest-pagination >div.selected  {background-position:-30px -2768px;}

#section2 .bt-white {width:48.27%;}

#bt-revisa { float:left; position:relative;}

#bt-cot {float:right; position:relative;}

#dest-bts {max-width:940px; width:auto; padding-top:10px; display:inherit; margin:0 auto 56px; position:relative}
#dest-scroller{ width:100%; max-width:940px; height:20px; margin:0 auto; padding:0 10px; position:relative; background:#7cdcfd}
#scroller-bt {height:20px; background:#06C; position:absolute; left:0; width:40px; display:block;}



/* FOOTER */

#pusher {width:100%; height:139px; display:block; float:left;}

footer {width:100%; height:140px; background:#000; float:left; position:fixed; bottom:0; overflow:hidden; z-index:300}

#footer-in {max-width:720px; width:auto; margin:0 auto; height:inherit; position:relative; padding:0 10px;}

#footer-in > div {width:100%;  height:75px; position:relative; left:0; bottom:0;}

#social {position:absolute; left:0; top:0; height:inherit; width:120px;} #social > a {float:left;}

#network {position:absolute; right:0; top:0; height:inherit; width:120px;} #network > a {float:left;}

#twitter { height:inherit; width:45px; background-position:-15px -1211px; display:block; margin-right:30px}
#twitter:hover {background-position:-15px -1972px;}
#facebook { height:inherit; width:45px; background-position:-15px -1360px; display:block}
#facebook:hover {background-position:-15px -2122px;}
#dribble { height:inherit; width:45px; background-position:-15px -1651px; display:block; margin-right:30px}
#dribble:hover { height:inherit; width:45px; background-position:-15px -2269px; display:block}
#behance { height:inherit; width:45px; background-position:-15px -1805px; display:block}
#behance:hover { height:inherit; width:45px; background-position:-15px -2423px; display:block}

#amp {position:relative; margin:0 auto; height:inherit; width:290px; color:#FFF; font-size:0.632em;  background-position:center -1509px;}

span#mty {margin-right:94px; text-align:left;}

#footer-in #info-mail {color:#fff;  font-size:0.789em; width:auto; display:inline-block; padding:0 16px; height:auto; border-radius:3px; margin-top:20px }

#footer-in #info-mail #mail, #footer-in #info-tel #tel {line-height:45px}

#footer-in #info-tel {color:#fff;  font-size:0.789em; width:auto; display:inline-block; padding:0 16px; height:auto; border-radius:3px; margin-top:20px; margin-right:40px  }


#footer-in .foot-contact { margin:0 auto; width:auto; display:table; height:auto }

/* MISC */

.icons-sprite {background-image:url(../images/icons.svg); background-repeat:no-repeat; background-size:76px 6010px}

.bt-white {border-radius:3px; border:1px solid #FFF; display:inline-block; color:#FFF; font-size:0.789em; line-height:2.1em; text-decoration:none;}

.bt-white:hover {background:#007cf0; border-color:#007cf0; color:#FFF}

.bt-blue {border-radius:3px; display:inline-block; color:#FFF; font-size:0.789em; line-height:2.1em; text-decoration:none; background:#01b3f0; border:1px solid #01b3f0;}

.bt-blue:hover {background:#007cf0; border-color:#007cf0; color:#FFF}
.bt-centered {width:100%; max-width:460px}
.line-jump-m {display:none;}

.remove-mob {display:block;}
span.remove-mob {display:inline}
.remove-des {display:none;}
.superscroll {position:relative}
.fright {float:right !important}

.indicator {margin:0 auto; display:block; width:30px; height:35px; display:table; clear:both}
.indup {background-position:-23px -4553px; margin-bottom:1em;}
.inddown {background-position:-23px -4824px; margin-top:.2em;}

.block {display:block; list-style:none}

#dest-bts .bt-white {width:48.27%;}

img {border:none}

.no-svg .icons-sprite {background-image:url(../images/icons.png);}

#header-404 {background-image:url(http://www.xplaye.com/images/header-404.jpg);}
#header-contacto {background-image:url(../images/header-contacto.jpg);}

/* TYPE */



h2 {font-size:1.5428em; font-family: 'Open Sans', sans-serif; font-weight:800; color:#000; text-transform:uppercase; line-height:1.89em; margin:0 0 .7em;}
h2.white, p.white, .white {color:#fff;}
h4 {font-size:0.789em; font-family: 'Open Sans', sans-serif; font-weight:800; line-height:1.89em; margin:0 0 .7em; }

p {font-size:.9em; line-height:1.5em; -webkit-text-size-adjust: none; text-size-adjust:none; orphans:2}
a {text-decoration:none; color:#007cf0}
a:hover {color:#01B3F0}

strong {color:#00b3f0; font-weight:300}
.section-green strong {color:#fff601}

.dest-caption h3 {margin:0; font-size:0.842em; font-weight:700; font-family:'Open Sans', sans-serif;} 
.dest-caption p { margin:0; font-size:0.737em}

#amp p {margin:0; line-height:75px; letter-spacing:.3em; }

p.tag { font-family: open sans; font-size: 0.7em;  font-weight: 900; text-transform: uppercase;}

/*.interior */

#header-portafolio {background-image:url(../images/header-portafolio.jpg); background-size:110%}
#header-servicios {background-image:url(../images/header-servicios.jpg); background-size:100%}

/* SLIDE VIDEO */
.interior #slideshow { height:350px}
#video-container {height:100%;max-width:960px;overflow: hidden;margin:0 auto;  z-index:200 }
#video-wrapper {height:inherit; position:relative}
.no-video #video-wrapper { background-image:url(../images/video-still.jpg); background-position-y:-130px; background-repeat:none }
video {width:100%;margin:0 auto;max-width:700px;position:relative;display:block; background:transparent;}
#video-wrapper h1 {font-family: 'Open Sans', sans-serif; font-weight:800; color:#FFF; position:relative; top:77%; text-align:center; text-transform:uppercase; text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4); margin:0; font-size:1.895em; letter-spacing:2px; padding:0 7%; z-index:400; position:absolute; width:86%}

#video-wrapper h1 span { display: block; margin: 0 auto; max-width: 750px;}

/* -- CONTENT */
#nosotros-nav {margin:1em 0; padding:0; list-style:none; width:100%; display:inline-block}
#nosotros-nav li {float:left; width:23.35%; margin-left:2.2%;}
#nosotros-nav li.first-left {margin:0;}
#nosotros-nav li a {border-radius:3px; border:1px solid #FFF; display:inline-block; color:#FFF; font-size:0.789em; line-height:2.1em; text-decoration:none; width:100%; display:inline-block}
#nosotros-nav li a:hover {background:#007cf0; border-color:#007cf0;}


#logos-clientes-t {display:none}
#soluciones-img {background:url(../images/soluciones-integrales.jpg) center top no-repeat; max-width:2000px; overflow:visible; width:100%; height:133px; padding:0; padding-bottom:0}

.accordionlist h4.icons-sprite { background-image:none; cursor:pointer}
.accordionlist ul { margin:0 0 2em; padding:0; list-style:none; font-size:0.7em; line-height:2.3em;}

#metodo-wrap {width:100%; margin:1em auto 0; padding:0; float:left }
#metodo-wrap li.first-left { margin-left: 0;}
#metodo-wrap li {list-style:none; float:left; margin-left:4.42%; width:12.97%;  margin-top:1em; margin-bottom:.5em}
#metodo-wrap li img {width:100%;}
#metodo-wrap li h5 {margin:1em 0 ; text-transform:uppercase; font-family:'Open Sans', sans-serif; font-weight:800; font-size:0.632em; color:#fff}
#metodo-reel {height:410px; margin:0; padding:0; width:100%;}
#metodo-reel .slider > li {width:100%; margin:0 10px; display:block; float:left; list-style:none; height:410px ;cursor:default !important}
.metodo-in {width:100%; max-width:940px; margin:0 auto;  position:relative;  }

.interior #dest-pagination > div {background-position:-30px -5228px; margin:0}

.interior #dest-pagination > div.selected {background-position:-30px -5378px}

.interior #dest-pagination > div:hover{background-position:-30px -5378px}

#metodo-in-mob {display:none}

#metodo2 img {
    width:33%;
}

#metodo3 span {display:inline-block; position:relative;}
#metodo3 span a {color:#000; text-decoration:none;}
#metodo3 span:hover a {color: #00B3F0}
#rolling {margin-left:80px}



#factsheet {width:100%; max-width:460px; margin-bottom: 17px;}
#logos-personales {max-width:720px; margin:0 auto;}
#logos-personales >div {width:50%; text-align:center; float:left; margin-top:4.7em}

.interior #clientes img {width:100%;}

.interior #logos-talleres {width:100%;}

.interior #logos-talleres > div {width:25%; text-align:center; float:left; margin-top:70px}

.interior #slide03 {background-size:140% auto; }

.interior #slide04 { background-size:140% auto; }

.interior .bg-header h1 {top:77%}

.interior #form-box.contacto {display:block}

#portafolio-grid { width:auto; max-width:940px; padding-top:35px;}

#portafolio-grid .grid-item {width:31.91%; margin-left:2.13%; float:left; height:210px; margin-bottom:2.13%}

#portafolio-grid .first-left {margin:0}

#portafolio-grid .dest-img img { width:100%}

#bt-cotiza-portafolio {width:31.91%;}

#proyectos {margin-top:50px}

.no-touch .grid-item:hover .dest-arrow {transition:all ease .5s; -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg);-o-transform: rotate(360deg);  -ms-transform: rotate(360deg); transform: rotate(360deg);}

.dest-overlay-210-1 {  background-image: url("../images/shadow-210-1.png"); background-repeat: repeat-x; background-position: center top; height: inherit; left: 0; position: absolute;  top: 0; width: 100%; z-index: 100;}

.dest-overlay-210-2 {  background: url("../images/shadow-210-2.png"); background-repeat: repeat-x; background-position: center top; height: inherit; left: 0; position: absolute;  top: 0; width: 100%; z-index: 100;}

.dest-overlay-210-3 {  background: url("../images/shadow-210-3.png"); background-repeat: repeat-x; background-position: center top; height: inherit; left: 0; position: absolute;  top: 0; width: 100%; z-index: 100;}

.dest-overlay-full{  background: url("../images/black-transparency.png"); background-repeat: repeat; background-position: center top; height: inherit; left: 0; position: absolute;  top: 0; width: 100%; z-index: 100;}

/* TEMPLATE PROYECTOS */


.fixed-menu header#fix {top:0}
#proyecto-tpt {padding-top:30px}
.bg-header { width:100%; height:inherit; background-repeat: no-repeat; background-position:center center; background-size:cover; background-color:#000}

#bg-proyecto-riex {background-image:url(../portafolio/images/riex/header.jpg);}
#bg-proyecto-ciao-bella {background-image:url(../portafolio/images/ciao-bella/header.jpg);}
#bg-proyecto-eddy-farm {background-image:url(../portafolio/images/eddy-farm/header.jpg);}
#bg-proyecto-abc-empresarial {background-image:url(../portafolio/images/abc-empresarial/header.jpg);}
#bg-proyecto-oi-lab {background-image:url(../portafolio/images/oi-lab/header.jpg);}
#bg-proyecto-piaga {background-image:url(../portafolio/images/piaga/header.jpg);}
#bg-proyecto-cemex-usa {background-image:url(../portafolio/images/cemex-usa/header.jpg);}
#bg-proyecto-sushi-kava {background-image:url(../portafolio/images/sushi-kava/header.jpg);}
#bg-proyecto-talos {background-image:url(../portafolio/images/talos/header.jpg);}
#bg-proyecto-omega {background-image:url(../portafolio/images/omega/header.jpg);}



#proyecto-wrap img {width:100%; text-align:center;}
#proyecto-head { width:100%; float:left; margin-bottom:1em}

#proyecto-titulo {width:100%}

#proyecto-titulo h2 {text-align:left; margin:0}

#proyecto-cat {float:left; width:auto}

#proyecto-cat p {text-align:left; margin:0; line-height:1em}

#proyecto-next-top {float:right;  text-align:right; padding-right:23px; background-position:200% -5530px}
#proyecto-back {float:right;  text-align:right; padding-left:23px; background-position:-27px -5777px; margin-right:20px}
#proyecto-back-grid { float:right; padding-right:19px;  font-size:0.789em; line-height:1.3em}
#proyecto-next-top a, #proyecto-back a, #proyecto-back-grid a {text-decoration:none; color:#000; font-size:0.789em; line-height:1.3em}
#proyecto-next-top a:hover,#proyecto-back a:hover, #proyecto-back-grid a:hover {color:#00B3F0}

#proyecto-images {margin-top:.5em; }

.proyecto-img {margin-bottom:2.11%; float:left}

#proyecto-specs {float:left; width:100%}

#proyecto-intro {width:48%; float:left; text-align:left;}

#proyecto-specs h3 {color: #000000; font-family: 'Open Sans',sans-serif; font-size: 1em; font-weight: 800; line-height: 1.89em; margin: 0 0 0.7em; text-transform: uppercase; text-align:left}

#proyecto-intro p {font-size:0.73em; line-height:160%}

#proyecto-nav {width:50%; float:right; }

#proyecto-nav > div {width:47.826%; height:142px; margin-top:.5em}

#proyecto-nav .dest-overlay-210-3 {background-position:bottom center}

#proyecto-nav > div .dest-caption {bottom:25%; width:100%; padding:0}

#proyecto-nav > div .dest-caption h4 {text-transform:uppercase; text-align:center; font-family: 'Open Sans',sans-serif; font-size: 0.842em; font-weight: 700; margin: 0; line-height:1.2em}

#proyecto-nav > div .dest-caption p {text-align:center}

#proyecto-nav > div .dest-caption .dest-arrow {margin: 0 auto 0.2em; position: relative;top:0; right:0;}

#proyecto-nav #proyecto-prev .dest-arrow {background-position: -26px -5653px;}
#proyecto-nav #proyecto-prev {float:left}
#proyecto-nav #proyecto-next {float:right}
#proyecto-nav .dest-img img {width:100%}

#proyecto-nav #cotiza-bt {width:100%; margin-top:1em; float:left; height:auto}
#proyecto-nav #cotiza-bt .bt-blue {display:block}

#proyecto-wrap .v1h2 #img01 { width:57.44%; float:left;}
#proyecto-wrap .v1h2 #img02, #proyecto-wrap .v1h2 #img03 {width:40.42%; float:right; }
#proyecto-wrap .v1h2 img {height:100%}

#proyecto-wrap .v1h2-l #img01 { width:57.44%; float:right;}
#proyecto-wrap .v1h2-l #img02, #proyecto-wrap .v1h2-l #img03 {width:40.42%; float:left; }

#proyecto-wrap .h2-b #img04 {float:right; width:48.93%}
#proyecto-wrap .h2-b #img03 {float:left; width:48.93%}

#proyecto-wrap .h2-t #img01 {float:right; width:48.93%}
#proyecto-wrap .h2-t #img02 {float:left; width:48.93%}

#proyecto-wrap .h2-m #img02 {float:right; width:48.93%}
#proyecto-wrap .h2-m #img03 {float:left; width:48.93%}

#proyecto-wrap .h4-t #img01, #proyecto-wrap .h4-t #img03 {float:left; width:48.93%}
#proyecto-wrap .h4-t #img02, #proyecto-wrap .h4-t #img04 {float:right; width:48.93%}

#proyecto-wrap .h2-tb #img01, #proyecto-wrap .h2-tb #img04 {float:left; width:48.93%}
#proyecto-wrap .h2-tb #img02, #proyecto-wrap .h2-tb #img05 {float:right; width:48.93%}

#proyecto-nav .remove-thumb {display:none}

/* CONTACTO */
#map {width:100%; height:500px; overflow:hidden; position:relative; background:url(../images/mapa.jpg) center center no-repeat; background-size:cover }


/* SMALL DESKTOP */
@media (max-width: 960px){
	
#destacados-reel li {max-width:800px}
#metodo3 img {height:9em;}
.interior #slide03 {background-size:150% auto; }
.bt-down {top:70%}
#proyecto-nav .dest-img img {width:110%}
#header-portafolio {background-size:140%; background-position:center}
.no-touch #destacados-reel .slider {float:left; width:4920px}
.no-touch #dest-bts {max-width:800px}
#portafolio-grid .grid-item { height:170px}
}

/* TABLET-LANDSCAPE */

@media screen (max-width:1024px) and (orientation: landscape) {
	.interior #video-container video {display:none}
	#video-still-mob { background:url(../images/video-still-tablet.jpg) no-repeat; width:100%; height: inherit; background-size:700px; background-position:50% top}
	#map {background:url(../images/mapa-tablet.jpg) center center no-repeat}
}

/* TABLET */

@media (max-width:800px) {
	


body {font-size:18px;}
.header-in {max-width:700px; position:relative;}

/* NAV */ 
#mobile-nav {background:#121212; list-style:none; margin:0; padding:0;}
#mobile-nav li {  }
#mobile-nav li a {color:#FFF; text-decoration:none; width:100%; text-align:center; line-height:2em;}
nav a.pull { background-position: -15px -3530px; color: #FFFFFF; display: block; font-size: 1em; height: 60px; line-height: 60px; padding-left: 44px; position: absolute; right: 10px; text-decoration: none; top: 0;}
.main-nav { background: none repeat scroll 0 0 #121212; height: 100%; left: -101%; margin: 0; padding: 0; position: fixed; top: 0; width:51%; opacity:.9; padding:25%}
.main-nav li { width:100%; float:left; margin:0 }
.main-nav li a {border-bottom:none !important; text-align:center; font-size:1em; padding:.5em; font-family:'Open Sans'; text-transform:uppercase;}	
.main-nav span {width:100%; display:block; color:#FFF; font-size:2em; line-height:2em; border-bottom:1px solid #f1f1f1; text-align:center; font-family:'Open Sans'; margin-bottom:10px;}
header#fix .pull {height:50px; line-height:51px; background-position:-15px -3534px;}
#bt-lang {display:none}


/* INFO BAR */

#info-bar {height:64px;}
#info-bar-in {max-width:700px; font-size:1.1em}
#tel {line-height:64px} #tel a {text-decoration:none; color:#fff}
#mail  {line-height:64px} #mail a {text-decoration:none; color:#fff}
#icon-mail { background-position: -19px -748px;}
#icon-tel { background-position: -19px -586px;}
.col3-wrapper .bt-comienza {margin-top:14px}


/* SLIDE */

#main-slider {max-width:800px}
#next { display:none !important}
#prev { display:none !important}
#slide03 { background-position:50% 50%; }
#slide04 { background-position:60% 50%;  }
#main-slider li h1 { top:44%}
#main-slider li h1, .bg-header h1 {font-size:1.8em}


/* CONTENT */

.sectionwrap  {max-width:700px;}
	
/* FORM */
	
#form-box .sectionwrap {max-width:720px;}
.formblock { margin-right: 2.85%; width: 31.43%;}
.formblock .forminput { margin-bottom:8.5%; width:93%; padding:3.5%}
#form-send input {margin:2.85% 0 30px; font-size:1em;}

/* DESTACADOS */

.bt-white {font-size:.9em}
#destacados-1 .dest-right, #destacados-2 .dest-right, #destacados-3 .dest-right  {display:none;}
#destacados-1 .dest-left, #destacados-2 .dest-left, #destacados-3 .dest-left {width:100%; margin:0}
#destacados-reel li {max-width:580px}
#dest-bts {max-width:580px; width:100%; padding-top:30px}	

.no-touch #destacados-reel .slider {float:left; width:3600px}
.no-touch #dest-bts {max-width:580px}

/* FOOTER */ 

#footer-in { max-width:700px;}
#footer-in #info-tel {font-size:.9em;}
#footer-in #info-mail {font-size:.9em;}
#amp {padding-left:20px;}



/* TYPE */

.dest-caption p {font-size:.8em}
#proyectos h2 {margin-bottom:0;}

/* MISC */

.indicator {display:none}
.line-jump-t {display:none;}
.remove-t {display:none;}

/*INTERIOR */
	

#header-portafolio {background-size:160%; background-position:center}

	.interior #video-container video {display:none}
	#video-still-mob { background:url(../images/video-still-tablet.jpg) no-repeat; width:100%; height: inherit; background-size:800px; background-position:45% 50%}

	#nosotros-nav li a {font-size:0.9em; line-height:2.2em;}
	#logos-clientes-t {display:block}
	.interior #logos-clientes-d {display:none}
	
	.metodo-in {max-width:800px}
	
	#metodo-reel {height:440px}
	#metodo-reel .slider > li {height:440px}
	#metodo-wrap {max-width:440px; float:none}
	#metodo-wrap li {width:33.33%; margin-left:0; }
	#metodo-wrap li img {width:72%}
	#metodo-wrap li h5 {font-size:.7em; margin:1em 0 .5em}
	
	#metodo2 img {width:360px; margin-top:1em;}
	
	#metodo3 img {height:auto; max-height:180px}
	#metodo3 span {margin-top:40px}
	#rolling {margin-left:0}
	
	#logos-personales >div {margin-top:6em}
	
	.interior #logos-talleres > div {width:50%; margin-top:1.75em; margin-bottom:35px; float:left}
.interior #slide03 {background-size:auto 120%; }
.interior #slide04 {background-size:auto 140%; }


#portafolio-grid {max-width:580px;}
#portafolio-grid .grid-item {width:48.275%; margin-left:0; float:left; height:180px; margin-bottom:3.2%}
#portafolio-grid .pair-col {float:right}

#bt-cotiza-portafolio {width:100%; font-size:.9em}

.dest-overlay-210-1, .dest-overlay-210-2, .dest-overlay-210-3 { background-position:center bottom }

/* TEMPLATE PROYECTOS */

.interior .bg-header { height:350px}
#proyecto-wrap {max-width:580px;}
#proyecto-specs, #proyecto-intro, #proyecto-specs #proyecto-nav {width:100%}

#proyecto-nav > div {height:166px}
#proyecto-wrap {font-size:19px}

#proyecto-images > div {width:100% !important}

.proyecto-img {margin-bottom:20px;}

/* CONTACTO */

#map {background:url(../images/mapa-tablet.jpg) center center no-repeat}

}

@media (max-width:690px) {
	
	body {font-size:17px;}
	#info-bar #info-tel {width:206px;}
	#info-bar #info-mail {width:190px;}
	#footer-in {max-width:580px;}
	#amp {font-size:.7em; padding-left:40px;}
	span#mty { margin-right:76px;}
	nav a.pull {font-size:1.1em;}
	
	.mob-nav-arrow {background-position: -25px -135px;}
	.accordionlist ul {font-size:.7em}
	

	
	
}


@media (max-width:640px) {
	
	body {font-size:16px;}
	#info-bar .col3-wrapper #info-tel, #info-bar .col3-wrapper #info-mail {width:auto; display:table;}
	#info-bar #info-tel {width:33%; }
	#info-bar #info-mail {width:31%; }
	#bt-comienza{float: right; text-align: center; width: 28%;}
	#go-down {display:none;}
	#destacados-reel li {max-width:540px}
	
	#amp {font-size:.8em; padding-left:50px;}
	span#mty { margin-right:56px;}
	nav a.pull {font-size:1.2em;}
	.no-touch #destacados-reel .slider {float:left; width:3360px}
	.no-touch #dest-bts {max-width:540px}
	#main-slider li h1 {font-size:1.6em}


	

	
	
	/* CONTENT */
	
	#logos-clientes-m {display:block;}
	#logos-clientes-d {display:none;}
	#logos-clientes-t {display:none;}
	#logos-clientes-m img {width:80%;}
	
	/*.interior */
	.interior #logos-clientes-m img {width:70%;}
	#header-portafolio {background-size:160%; background-position:center; background-image:url(../images/header-portafolio-mob.jpg);}
	#header-contacto {background-image:url(../images/header-contacto-mob.jpg); background-size:cover}
	
	#portafolio-grid {max-width:540px;}
	
	/* TEMPLATE PROYECTOS */
	#proyecto-wrap {max-width:540px;}
	#proyecto-nav {max-width:540px}
	#proyecto-wrap {font-size:17px}
	
	#proyecto-wrap .v1h2 #img02, #proyecto-wrap .v1h2 #img03 { max-height:345px; height:auto; overflow:hidden}
	#proyecto-next-top {float:right;  text-align:right; padding-right:23px; background-position:240% -5530px}
	
}

/* MOBILE */

@media (max-width:550px) {
	body {font-size:12px;}
	
	/* INFO BAR */

	.bt-comienza { float: left; margin-top:13px;  padding: 0 4%; text-align: center; width:92%; font-size:1.3em; line-height:35px; }
	#bt-comienza:hover {background-color:#000;}
	#bt-comienza-wrap {float:none; width: 53.3%;  margin: 0 auto; height:35px;}
	#info-bar #info-tel { width: 20%; margin:13px 0 0; height:37px;}
	#info-bar #info-mail  { width: 20%;margin:13px 0 0; height:37px;}
	#info-bar #info-mail {float:right;}
	#info-bar #info-mail #mail {display:none;}
	#info-bar span#tel {display:none;}
	#info-bar span#icon-tel {background-position:center -4113px; width:100%; height:35px; border:1px solid #00B3F0; border-radius:3px;}
	#info-bar span#icon-tel a, #info-bar span#icon-mail a {display: block; width:inherit; height:inherit;}
	#info-bar span#icon-mail {background-position:center -4302px; width:100%; height:35px; border:1px solid #00B3F0; border-radius:3px; margin-left:-2px}
	
	/* INFO BAR REDUCED */
	#info-tel-wrapper, #info-mail-wrapper { width:20%;}
	#info-bar #info-mail-wrapper #info-mail, #info-bar #info-tel-wrapper #info-tel { width:100%; margin:0}
	#bt-comienza-wrapper { width:53.3%; margin:0 auto; float:none}
	.col3-wrapper .bt-comienza {width:92%; margin:13px 0 auto}

	
	/* NAV */
	
	.header-in .logobox {margin-top:18px}
	.header-in .logobox img {width:60px; }
	nav a.pull {font-size:1.5em; line-height:59px;}
		#mob-nav li a {padding:0 1.5em;}
	.mob-nav-arrow {right:1.5em; background-position: -16px -107px; background-size:60px auto;}
	
	/* SLIDER */
	
	#main-slider li h1 {top:35%; letter-spacing:0; font-size:1.8em}
	
	#slideshow {height:500px}
	
#slide01 {background-image:url(../images/01_mob.jpg); }

#slide02 {background-image:url(../images/02_mob.jpg);  }

#slide03 {background-image:url(../images/03_mob.jpg); }

#slide04 {background-image:url(../images/04_mob.jpg);  }
	
	/* FORM */
	
	.formblock {width:100%; margin:0}
	.formblock .forminput {margin-bottom:.8em; font-size:1.250em; line-height:1.5em; margin-top:0;}
	#form-msg textarea.forminput {padding:3%; width:94% }
	#form-send input {margin-top:1em; font-size:1.250em; height:2.5em;}
	
	/* DESTACADOS */
	
	#destacados-reel-wrap {display:none;}
	#destacados-reel-mob-wrap {display:block; max-width:100%; width:100%; margin:0 auto}
	#destacados-reel-mob #dest-1,#destacados-reel-mob #dest-2,#destacados-reel-mob #dest-3,#destacados-reel-mob #dest-4  ,#destacados-reel-mob #dest-5,#destacados-reel-mob #dest-6,#destacados-reel-mob #dest-7,#destacados-reel-mob #dest-8,#destacados-reel-mob #dest-9,#destacados-reel-mob #dest-10,#destacados-reel-mob #dest-11,#destacados-reel-mob #dest-12{width:100%; max-width:266px; height:157px; float:left; position:relative; padding:0; margin:0 10px }
	
	#destacados-reel-mob #dest-1 .dest-img img { width:150%; height:auto !important}
	#destacados-reel-mob #dest-4 .dest-img img { width:105%; height:auto !important}
	#destacados-reel-mob #dest-7 .dest-img img {width:190%}
	#destacados-reel-mob .dest-img img {top: 0 !important}
	#destacados-reel-mob {display:block;position:relative; height:157px !important; margin:0 auto; padding:0;  overflow:visible !important}
	
	
	#destacados-reel {display:none;}

	
	#dest-pagination {display:none !important;}
	
	.dest-overlay-1, .dest-overlay-2, .dest-overlay-3, .dest-overlay-4 {background:url(../images/shadow-mob.png) center bottom repeat-x;}
	
	.dest-caption {width:75%;}
	.dest-caption h3 {font-size:1.333em;}
	
	.dest-caption p {font-size:1.167em}
	.dest-img img { width:105%}
	#dest-bts, .no-touch #dest-bts {max-width:266px; margin-bottom:1em; padding-top:20px;}
	#dest-bts .bt-white {width:100%; float:left; font-size:1.2em; margin-bottom:1em; line-height:2.5em}
	#dest-bts #bt-cot {margin-bottom:20px;}
	
	#scroller-wrapper {display:none}
	#slider-control-container {display:none}
	
	/* CONTENT */
	
	.sectionwrap { padding-top:1.5em; padding-bottom:1.5em; padding-left:1.5em; padding-right:1.5em}
	
	/* FOOTER */
	
	footer {height:241px;}
	#social {display:none;}
	#network {display:none;}
	span#mex { float:right}
	#amp {padding-left: 0; max-width:266px; font-size:.85em; background-position:56% -1507px;}
	#footer-in .foot-contact {width:100%; max-width:266px;}
	#footer-in #info-tel, #footer-in #info-mail {width:90%; padding:0 5%; text-align:center; margin:23px 0 0; font-size:1.2em; border:1px solid #FFF;}
	#footer-in #info-mail {margin-bottom:20px;}
	#info-tel span, #info-mail span {float: none; }
	#footer-in #info-mail #mail, #footer-in #info-tel #tel {
    line-height: 2.6em;
}
	#pusher {height:240px;}
	
	/* TYPE */
	
	h2 {font-size:1.917em; line-height:1.3em; margin:0  0 1em}
	
	p {font-size:1.250em; line-height:1.6em}
	
	#amp p {letter-spacing:.2em;}
	
	/* MISC */
	
	.line-jump-m {display:block;}
	.line-jump-d {display:none;}
	.remove-mob {display:none;}
	span.remove-mob {display:none}
	.remove-des {display:block;}
	span.remove-des {display:inline}
	#intro-servicios { background:#080808}
	.no-marginbot-mob {margin-bottom:0}
	
	/*.interior */
	
	.interior #slideshow { height:180px}
	.interior #video-container video {display:none}
	#video-still-mob { background:url(../images/video-still.jpg) 45% 100% no-repeat; width:100%; height: inherit; background-size:360px}
	#video-wrapper h1 {top:50%}
	#nosotros-nav  {display:none}
	.interior .bg-header { height:180px}
	.interior #info-bar {display:none}
	.interior .bg-header h1 {top:50%; z-index:3000}
	
	
	/* -- CLIENTES */
	
	#logos-clientes-t {display:none}
	.interior #logos-clientes-m img {width:90%;}
	
	/* -- SOLUCIONES */
	
	#soluciones-img  {display:none}
	.accordionlist  {font-size:1.5em}
	.accordionlist  {width:100%}
	.accordionlist ul {display:none; text-align:center; margin:0 0 1em}
	.accordionlist {border:1px solid #00b3f0; border-radius:3px;  max-width:266px; margin:0 auto .8em; float:none}
	.accordionlist h4.icons-sprite {text-align:center; margin:0; line-height:2.5em; background-position:105% -3070px; background-image:url("../images/icons.svg") }
	.accordionlist h4.acc-active { background-position:105% -5025px}
	

	#metodo-wrap {max-width:320px}
	#metodo-wrap li {width:50%; margin-left:0; margin-top:1.5em; margin-bottom:.5em}
	#metodo-wrap li img {width:75%}
	#metodo-wrap li h5 {font-size:1em}
	
	#metodo {display:none}
	#metodo-in-mob {display:block; padding: 0 10px}
	
	#servicios {background:#151515}
	
	#factsheet {max-width:266px; font-size:1.2em; line-height:2.5em;}
	
	
	#portafolio-grid {max-width:266px;}
#portafolio-grid .grid-item {width:100%; margin-left:0; float:left; height:157px; margin-bottom:1.5em}
#portafolio-grid .pair-col {float:right}

#proyectos h2 {margin-bottom:.5em;}
#bt-cotiza-portafolio {font-size:1.2em; line-height:2.5em}

/* TEMPLATE PROYECTOS */


#proyecto-wrap {max-width:266px;}
#proyecto-wrap {font-size:12px}
#proyecto-wrap p {font-size:1.250em; line-height:1.6em; text-align:left}
#proyecto-wrap #proyecto-titulo h2 {text-align:center; margin-bottom:.1em}
#proyecto-wrap #proyecto-cat {width:100%}
#proyecto-wrap #proyecto-cat p {text-align:center}
#proyecto-wrap h3 {text-align:center; font-size:1.2em}
#proyecto-next-top, #proyecto-back-grid {display:none}
#proyecto-nav > div {height:80px}
#proyecto-nav #cotiza-bt .bt-blue {font-size: 1.2em; line-height: 2.5em;}
#proyecto-nav > div .dest-caption p {display:none}
#proyecto-nav > div .dest-caption h4 {font-size:1em}

#proyecto-wrap .v1h2 #img02, #proyecto-wrap .v1h2 #img03 { max-height:170px; height:auto; overflow:hidden}
#proyecto-back {display:none;}
#proyecto-tpt {padding-top:50px}

/* CONTACTO */

#map {background:url(../images/mapa-mob.png) center center no-repeat; background-size:auto 375px; height:350px}

}

/* MOBILE FIXES */

@media (max-width:450px) {
#logos-clientes-m img {width:100%;}
#mob-nav {width:60%}
}


/* MOBILE LANDSCAPES */

@media (max-width:640px) and (orientation: landscape) {
	
	body {font-size:12px;}
	/* INFO BAR */

	.bt-comienza { float: left; margin-top:13px;  padding: 0 4%; text-align: center; width:92%; font-size:1.2em; line-height:35px; }
	#bt-comienza:hover {background-color:#000;}
	#bt-comienza-wrap {float:none; width: 53.3%;  margin: 0 auto; height:35px;}
	#info-bar #info-tel { width: 20%; margin:13px 0 0; height:37px;}
	#info-bar #info-mail  { width: 20%;margin:13px 0 0; height:37px;}
	#info-bar #info-mail {float:right;}
	#info-bar #info-mail #mail {display:none;}
	#info-bar span#tel {display:none;}
	#info-bar span#icon-tel {background-position:center -4113px; width:100%; height:35px; border:1px solid #00B3F0; border-radius:3px;}
	#info-bar span#icon-tel a, #info-bar span#icon-mail a {display: block; width:inherit; height:inherit;}
	#info-bar span#icon-mail {background-position:center -4302px; width:100%; height:35px; border:1px solid #00B3F0; border-radius:3px; margin-left:-2px}
	
	/* INFO BAR REDUCED */
	#info-tel-wrapper, #info-mail-wrapper { width:20%;}
	#info-bar #info-mail-wrapper #info-mail, #info-bar #info-tel-wrapper #info-tel { width:100%; margin:0}
	#bt-comienza-wrapper { width:53.3%; margin:0 auto; float:none}
	.col3-wrapper .bt-comienza {width:92%; margin:12px 0 auto}

	
	/* NAV */
	
	.header-in .logobox {margin-top:18px}
	.header-in .logobox img {width:60px; }
	nav a.pull {font-size:1.5em; line-height:59px;}
	#mob-nav {font-size:14px}
	#mob-nav li a { line-height:3.2em}
	.mob-nav-arrow {right:1.5em; background-position: -16px -110px; background-size:60px auto;}
	
	/* SLIDER */
	
	#main-slider li a {height:90%}
	#main-slider li h1 {top:45%; letter-spacing:2px; font-size:1.8em}
	#main-slider li h1 span {  max-width: 400px; font-size:.9em;}
	#slide04 {background-image:url(../images/04.jpg); background-size:cover  }
	#slide03 {background-image:url(../images/03.jpg); background-size:cover  }
	#slide02 {background-size:cover  }
	
	
	/* FORM */
	
	.formblock {width:100%; margin:0}
	.formblock .forminput {margin-bottom:.8em; font-size:1.250em; line-height:1.5em; margin-top:0; padding:2.5%}
	#form-msg textarea.forminput {padding:1.5% 2.5%; width:94% }
	#form-send input {margin-top:1em; font-size:1.250em; height:2.5em;}
	

/* DESTACADOS */
#destacados-reel-wrap { display:none;}	
#destacados-reel-mob-wrap { display:block;}	
#destacados-reel-mob-wrap {display:block; max-width:100%; width:100%; margin:0 auto}
	#destacados-reel-mob #dest-1,#destacados-reel-mob #dest-2,#destacados-reel-mob #dest-3,#destacados-reel-mob #dest-4  ,#destacados-reel-mob #dest-5,#destacados-reel-mob #dest-6,#destacados-reel-mob #dest-7,#destacados-reel-mob #dest-8,#destacados-reel-mob #dest-9,#destacados-reel-mob #dest-10,#destacados-reel-mob #dest-11,#destacados-reel-mob #dest-12{width:100%; max-width:266px; height:157px; float:left; position:relative; padding:0; margin:0 10px }
	
	#destacados-reel-mob #dest-1 .dest-img img { width:140%;}
	#destacados-reel-mob #dest-7 .dest-img img {width:190%}
	#destacados-reel-mob {display:block;position:relative; height:157px !important; margin:0 auto; padding:0;  overflow:visible !important}
	#dest-pagination {display:none !important;}
	
	.dest-overlay-1, .dest-overlay-2, .dest-overlay-3, .dest-overlay-4 {background:url(../images/shadow-mob.png) center bottom repeat-x;}
	
	.dest-caption {width:75%;}
	.dest-caption h3 {font-size:1.333em;}
	
	.dest-caption p {font-size:1.167em}
	.dest-img img { width:105%}
	#dest-bts {max-width:266px; margin-bottom:1em; padding-top:20px;}
	#dest-bts .bt-white {width:100%; float:left; font-size:1.2em; margin-bottom:1em; line-height:2.5em}
	#dest-bts #bt-cot {margin-bottom:20px;}
	#scroller-wrapper {display:none}
	#slider-control-container {display:none}
	
	/* MISC */
	
	.line-jump-m {display:block;}
	.line-jump-d {display:none;}
	.remove-mob {display:none;}
	span.remove-mob {display:none}
	.remove-des {display:block; }
	.line-jump-t {display:none;}
	span.remove-des {display:inline}
	#intro-servicios { background:#080808}
	.no-marginbot-mob {margin-bottom:0}
	
	/* TYPE */
	
	h2 {font-size:1.917em; line-height:1.3em; margin:0  0 1em}
	
	p {font-size:1.3em; line-height:1.6em}
	
	#amp p {letter-spacing:.2em;}
	
	/*.interior */
	


	
	
	
	.interior #slideshow { height:150px; overflow:hidden}
	.interior .bg-header { height:150px; overflow:hidden}
	.interior #video-container video {display:none}
	#video-still-mob { background:url(../images/video-still.jpg) 45% 50% no-repeat; width:100%; height: inherit; background-size:600px}
	#video-wrapper h1 {top:75%}
	#nosotros-nav  {display:none}
	
	#logos-clientes-t {display:none}
	.interior #logos-clientes-m {display:none;}
	.interior #logos-clientes-t {display:block;}
	
	.interior #logos-clientes-m img {width:90%;}
	.interior #wrap-metodo {padding-top:0}
	.interior #info-bar {display:none}
	.interior #header-portafolio {background-image:url("../images/header-portafolio-mob.jpg")}
	.interior #header-portafolio h1 {top:36%}
	
	.interior .bg-header h1 {top:36%; z-index:3000}

	
	
	
	
	/* -- SOLUCIONES */
	
	#soluciones-img  {display:none}
	.accordionlist  {font-size:1.2em;}
	

	#metodo-wrap {max-width:500px; float:none}
	#metodo-wrap li {width:33.33%; margin-left:0;}
	#metodo-wrap li img {width:50%}
	#metodo-wrap li h5 {font-size:.8em}
	
	#metodo-reel-wrapper {display:none}
	#metodo-in-mob {display:block; padding: 0 10px}
	
	#servicios {background:url(../images/bgimg-soluciones.jpg) center top no-repeat; background-size:cover }
	
	#factsheet {max-width:266px; font-size:1.2em; line-height:2.5em;}
	
	.interior #servicios .remove-des {display:inline-block; }
	
	/* TEMPLATE PROYECTOS */

	.interior .bg-header { height:150px}
	



#proyecto-wrap {max-width:380px;}
#proyecto-wrap {font-size:12px}
#proyecto-wrap p {font-size:1.250em; line-height:1.6em; text-align:center;}
#proyecto-wrap #proyecto-titulo h2 {text-align:center; margin-bottom:.1em}
#proyecto-wrap #proyecto-cat {width:100%}
#proyecto-wrap #proyecto-cat p {text-align:center}
#proyecto-wrap h3 {text-align:center; font-size:1.2em}
#proyecto-next-top {display:none}
#proyecto-nav > div {height:120px}
#proyecto-nav #cotiza-bt .bt-blue {font-size: 1.2em; line-height: 2.5em;}

#proyecto-nav > div .dest-caption h4 {font-size:1em}
#proyecto-tpt {padding-top:40px}
#proyecto-back {display:none;}
#proyecto-back-grid  {display:none}
#proyecto-wrap p {font-size:1.250em; line-height:1.6em; text-align:left}

/* CONTACTO */

#map {background:url(../images/mapa-mob.jpg) center center no-repeat; background-size:100%; height:300px}
	
}

/* SMALL PHONES */

@media (max-width:300px) {
	#dest-bts {max-width:220px;}
	#amp {max-width:220px;}
}

/* IE FIXES */

.icons-sprite {


}


@media (max-height: 700px) and (min-width:800px){
	

.bt-down {top:98%}

}

/* WIDE DESKTOP */

@media (min-width:1600px){
	
#map img {height:140%}
#slide01 {background-image:url(../images/01x1900.jpg);  }
#slide02 {background-image:url(../images/02x1900.jpg);  }

#slide03 {background-image:url(../images/03x1900.jpg);}

#slide04 {background-image:url(../images/04x1900.jpg); }


}

@media (min-width:1900px){
	
#map {height:600px}

}

@media (min-width:2300px){
	
#map img {height:155%}

}



